[Unit]
Description=Anyray managed enrollment

[Service]
Type=oneshot
ExecStart=/usr/bin/anyray-connect __anyray-managed-enroll
TimeoutStartSec=10min

[Install]
WantedBy=default.target
